@import '../../../node_modules/bootstrap/scss/variables';
@import 'params_default';


// Наложение цвета на фоновую картинку, по-умолчанию затемнение
@mixin blend($rgba: rgba($black, .4), $mode: multiply) {
    background-color: $rgba;
    background-blend-mode: $mode;
}

@mixin bg($size: cover, $position: center) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}


@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($transition: $transition-sm, $value: all) {
    transition: $value $transition;
}

@mixin no-wrap() {
    overflow-wrap: normal;
    word-wrap: normal;
    hyphens: manual;
}
