@import '../config/mixins';


.search_js {
    position: relative;
    &__child {
        display: none;
        height: 80vh;
        position: absolute;
        top: 2.7rem;
        width: 32rem;
        padding: 0 $spacer;
        background-color: $white;
        box-shadow: $box-shadow-lg;
        border-radius: $border-radius;
        z-index: $z-index-min - 4;
        overflow: auto;
        &--link {
            padding: .4rem 1.6rem;
            display: block;
            @include transition();
            &:hover {
                background-color: $gray-100;
            }
        }
        &.active {
            display: block;
        }
    }
}



@media (max-width: map-get($grid-breakpoints, 'sm')) {
    .search_js {
        &__child {
            height: 64vh;
            width: 100%;
        }
    }
}
